# Dependencies
node_modules/

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log
user_credentials.log

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db